@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
  height: 100vh;
  background-size: cover;
}
.card-container {
  background-color: #fff;
  height: 30vh;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.SunriseAvenueheading {
  font-size: 17px;
  color: #f19116;
  font-family: Bree Serif;
}
.SunriseAvenue-description {
  font-size: 15px;
  color: #7b8794;
  font-family: Bree Serif;
}
.button {
  border-width: 0px;
  background-color: #f19116;
  color: #ffffff;
  font-family: Bree Serif;
  border-radius: 5px;
  font-size: 13px;
}

.avenue-bg-container {
  background-color: #222222;
  height: 100vh;
  background-size: cover;
}

.sunrise-avenue-heading {
  color: #f19116;
  font-size: 20px;
  font-family: bree serif;
}

.sunrise-avenue-card-container {
  background-color: #ffffff;
  text-align: left;
  border-radius: 7px;
  font-family: bree serif;
}

.flats-list-card1-img {
  height: 138px;
}
.sunrise-card-heading {
  color: #0f0e46;
  font-size: 14px;
  font-weight: bold;
}
.sunrise-card-description {
  font-size: 11px;
}
